@font-face {
  font-family: 'Migu DS Regular';
  src: font-url('migu-2ds-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #222 !important;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif !important;
  font-weight: normal !important;
}

// float
.float-left { float: left; }
.float-right { float: right; }

.left   { text-align:left;   }
.center { text-align:center; }
.right  { text-align:right;  }

.hidden { display: note; }
