//font-weight
.font-bold { font-weight: bold }

// 文字サイズ
.fs10 { font-size: 10px; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs20 { font-size: 20px; }
.fs25 { font-size: 25px; }

// マージンを0にする
.non-margin { margin: 0 }
