h3.mb10 = @memo.title

div.mb10 style='padding: 10px; border: solid 3px #6091d3; border-radius: 10px;'
  = raw @memo.content

= link_to t('view.edit'), edit_memo_path(@memo), class: 'btn btn-primary'
